.navbar {
  background-color: #7a7a7a;
  font-weight: bold;
}
.logo {
  width: 60px;
  margin: 0px 10px 0px 0px;
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}